@charset "utf-8";

html {
  touch-action: manipulation;
}

body {
  background-image: linear-gradient(to bottom, #ffecd2 0%, #fcb69f 100%);
}

ul {
  list-style-type: square;
}

ul.check {
  list-style-type: "✅";
}

a,
a:hover,
a:visited {
  text-decoration: none;
}


/* main 領域に関するもの */
#main.hide,
#dinner.hide {
  display: none;
}

.light {
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 1));
}

/* dinner 領域に関するもの */
.fix-width {
  max-width: 100%;
  /* 画面幅に応じて最大サイズを調整 */
  width: 350px;
  /* デフォルトの幅 */
  height: auto;
}

#dinner {
  border: thick double red;
  outline: 0.2rem solid red;
  overflow-x: hidden;
}

#dinner hr {
  border-top: 2px solid red;
}

#dinner ul {
  list-style: none;
  padding-left: 0;
}

.main-dish::before {
  content: "✿メイン✿\A";
  font-size: 0.8em;
  white-space: pre
}

.side-dish::before {
  content: "✿副菜✿\A";
  font-size: 0.8em;
  white-space: pre
}


/* footer 領域に関するレイアウト */
footer {
  margin: 2rem auto;
}

footer.hide {
  display: none;
}

#mask {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#mask.hide {
  display: none;
}

#about,
#developers {
  outline: 0.2rem solid #fcb69f;
  background: #fff;
  padding: 1rem;
  border-radius: 8px;
  position: absolute;
  transition: transform 0.4s;
  z-index: 2;
}

#about.hide,
#developers.hide {
  transform: translate(0, -150vmax);
}